*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(/public/JZAOcB.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
.con{
    border: 2px solid gray;
    padding: 50px;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
.con h1{
    text-align: center;
    margin-bottom: 20px;
}
.unit-inp{
    width: 300px;
    background-color: transparent;
    color: white;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 10px;
}

.input-result{
    margin-top: 10px;
}
.con-select{
    background: transparent;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}
input::placeholder {
    color: rgb(242, 232, 232);
  }